#jinja2: lstrip_blocks: "True (or False)", trim_blocks: "True (or False)"
interface {{ interface_id }}
 {% if dhcp_helper == "False"%}
 no ip helper-address
 {% else %}
 no ip helper-address
 ip helper-address {{ dhcp_helper }}
 {% endif %}
 {% if vrrp_group == "False" %}
 no vrrp_group
 {% elif vrrp_group >= 1 %}
 vrrp {{ vrrp_group }} description {{ vrrp_description }}
 vrrp {{ vrrp_group }} ip {{ vrrp_primary_ip }}
 vrrp {{ vrrp_group }} timers learn
 vrrp {{ vrrp_group }} priority {{ vrrp_priority }}
 {% endif %}
 